@import url(./_normalize.css);

html,
body {
    font-family: 'Trebuchet MS', 'Trebuchet', 'Arial', sans-serif;
    background: #E5E5E5;
}

.container {
    max-width: 793px;
    margin: 0 auto;
}

.header_container {
    background: #4A4F56;
    color: #FF8984;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 12px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 4px;
    margin-top: 0;
    ;
}

.header h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;

}

.main_container {
    background: #3B3F45;
}

form {
    max-width: 534px;
    margin: 0 auto;
    padding-top: 20px;
}

input {
    width: 19px;
    height: 19px;
    margin: 12px 16px 14px 12px;
}

label {
    font-size: 18px;

}


label,
.notice {
    color: #ffffff;


}

.notice {
    font-size: 10px;

}

.notice::before {
    content: "(";
}

.notice::after {
    content: ")";
}

.item:nth-of-type(odd) {
    background: #88839E;
}

.item:nth-of-type(even) {
    background: #7A7593;
}

.item {
    transition: all .3s ease-in;
}

.item:hover {
    background: #625E77;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

.item:active {
    background: red;
}

input[type="checkbox"]:checked+label {
    color: #9B96AC;
    text-decoration: line-through;
}